html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #75C5F0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ffffff 15%, #75C5F0, #FFF500); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,#ffffff 15%, #75C5F0, #FFF500); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ffffff 15%, #75C5F0, #FFF500); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffffff 15%, #75C5F0, #FFF500); /* Standard syntax */

  font-family: "Andele Mono",monospace;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.orange600 { color: #FB8C00; }

header {
	width:100%;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

header nav {
	width:100%;
	margin:auto;
	background:#ffffff;
  position: fixed;
}

.menu_bar {
	display:none;
}

.nombre{
  float: left;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Shadows Into Light', cursive;

}
.subrayado{
  text-decoration:overline;
  margin-top: 8px;
  padding:6px;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:right;
  margin-right: 1%;
}

header nav ul li a {
	color:#5194b8;
  /*color:#ff0000;*/
	display:block;
	text-decoration:none;
}

header nav ul li i {
	margin-right:10px;
}

header nav ul li a:hover {
  color: #000000;
}

@media screen and (max-width:900px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		/*border:1px solid #000000;*/
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#ffffff;
		color:#5194b8;
		text-decoration:none;
		font-weight: normal;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar i {
		float:right;
		font-size:40px;
	}
}
