html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #75C5F0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #ffffff 15%, #75C5F0, #FFF500); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,#ffffff 15%, #75C5F0, #FFF500); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ffffff 15%, #75C5F0, #FFF500); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffffff 15%, #75C5F0, #FFF500); /* Standard syntax */

  font-family: "Andele Mono",monospace;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.orange600 { color: #FB8C00; }

header {
	width:100%;
}

header nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#024959;
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li i {
	margin-right:10px;
}

header nav ul li a:hover {
	background:#037E8C;
}

@media screen and (max-width:900px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar i {
		float:right;
		font-size:40px;
	}
}
